<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>404 Page not found</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="https://almsaeedstudio.com/themes/AdminLTE/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://almsaeedstudio.com/themes/AdminLTE/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="https://almsaeedstudio.com/themes/AdminLTE/dist/css/skins/_all-skins.min.css">

</head>



  <style>
    .error-content {
      position:relative;
      top:100;
      left: -100px;
    }
    footer {
      height:100;
      width:1360;
      border:none;
      border-top:5px solid rgba(0,0,0,0.2);
      position:relative;
      top:350px;

    }
    .footer-text {
      font-size:20px;
      text-align:center;
    }
  </style>
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-red">404 Error Page</h2>

      </div>

    </section>
  </div>
 </html>